In [1]:
from google.cloud.bigquery import *

In [2]:
from utils.bqutils import connect, init_catalog

In [3]:
client = connect('bqresearch')

In [4]:
catalog = init_catalog()

In [7]:
client.query(f'''
select * from
{catalog.coviddatail.staging.vaccinated_age_groups}
''').to_dataframe()

       _id VaccinationDate age_group first_dose second_dose third_dose
0     2105      2021-08-12       90+         27          17       2098
1     2112      2021-08-12       90+         27          17       2098
2     2149      2021-08-17       90+         22          20       1121
3     2157      2021-08-17       90+         22          20       1121
4     2174      2021-08-19       90+         27          20        774
...    ...             ...       ...        ...         ...        ...
6385  3058      2021-11-26     80-89        <15         <15        <15
6386  3294      2021-12-22     80-89        <15         <15         62
6387  3300      2021-12-23     80-89        <15          33         60
6388  3306      2021-12-24     80-89        <15         <15         25
6389  3314      2021-12-25     80-89        <15         <15        <15

[6390 rows x 6 columns]

In [8]:
fr = _

In [12]:
fr.loc[fr.third_dose !='0',:].sort_values(by='VaccinationDate')

       _id VaccinationDate age_group first_dose second_dose third_dose
4252  1987      2021-07-30     60-69         52          88       1912
4253  1988      2021-07-30     60-69         52          88       1910
4967  1993      2021-07-30     70-79         32          38       1597
4966  1993      2021-07-30     70-79         32          38       1597
6200  1995      2021-07-30     80-89        <15          25        446
...    ...             ...       ...        ...         ...        ...
2108  3320      2021-12-25     20-29         49          69        308
1388  3318      2021-12-25      0-19       3191        2379       1137
678   3316      2021-12-25       90+        <15         <15        <15
4251  3319      2021-12-25     50-59        <15         <15         70
6389  3314      2021-12-25     80-89        <15         <15        <15

[2229 rows x 6 columns]